<div class="nav_bg bg_img2">
    <h2>야시장소개</h2>
</div>
<nav class="sub_nav">
    <ul>
        <li><a href="#" class="sub_active">야시장안내</a></li>
        <li><a href="#">매대위치</a></li>
    </ul>
</nav>
<section class="sec1">
    <div class="inner">
        <div class="sec1_txt">
            <span>대한민국 대표 야시장</span>
            <h3>서문시장야시장</h3>
            <p>
                글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장<br />
                서문시장 야시장은 2016년 6월에 개장한, 총거리 350M에 달하는 대형
                야시장입니다.<br />
                우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여 총 80대의
                매대에서 다양한 먹거리, 살거리를 판매하며 매일 저녁, 시민과
                관광객에게 즐거움을 선사하는 복합문화 공간입니다. 특히, 먹거리
                일색인 타 야시장과는 달리 먹거리, 볼거리, 즐길 거리의 3대 요소가
                연중으로 펼쳐지는 마법같은 관광지이기도 합니다.<br />
            </p>
            <p class="sec1_txt_hide">
                또한 서문시장 야시장은 한옥 체험을 경험할 수 있는
                서문한옥게스트하우스, 동성로와 인접한 교동게스트하우스를 함께
                운영하고있습니다.
            </p>
        </div>
        <div class="img1_wrap">
            <img src="../img/info_img6.jpg" alt="소개페이지 서문시장 이미지" />
        </div>
    </div>
</section>
<section class="sec2">
    <div class="inner">
        <div class="img2_wrap">
            <div class="img2_bg">
                <img src="../img/info_img2.png" />
            </div>
        </div>
        <div class="img3_text_wrap">
            <div class="img3_wrap">
                <img src="../img/info_img3.png" />
                <img src="../img/info_img4.png" />
            </div>
            <div class="sec2_txt">
                <span>Fantastic Night Party!</span>
                <h3>성공적인 창업상단</h3>
                <p>
                    서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이
                    복합되어 어디에서도 찾을 수 없는 경험을 제공합니다.<br />
                    글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는
                    독특한 음식, 우리의 추억과 감성을 자극하는 다양한 볼거리,
                    살거리가 즐비합니다.<br />
                    대구로 방문하신다면 반드시 찾아가봐야 할 1순위는 단연<br />
                    ‘서문시장 야시장’입니다.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="sec3">
    <div class="inner2">
        <h3>오시는길</h3>
        <div class="map_wrap">
            <iframe
                class="google_map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1616.59881114939!2d128.5794935823837!3d35.86867362980723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e376c08aad43%3A0xdd7958b01f8ee3e!2z7ISc66y47Iuc7J6lIOyVvOyLnOyepQ!5e0!3m2!1sko!2skr!4v1649229399366!5m2!1sko!2skr"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
            <ul>
                <li>
                    <h5>야시장 주소</h5>
                    <p>대구 중구 큰장로26길 45</p>
                </li>
                <li>
                    <h5>주변 지하철</h5>
                    <p>
                        <span class="n2">2</span>
                        서문시장역
                        <span class="n2">2</span>
                        <span class="n3">3</span>
                        신남역
                        <span class="n3">3</span>
                        달성공원역
                    </p>
                </li>
                <li>
                    <h5>주변 정류장</h5>
                    <p>
                        큰장네거리4 동산의료원앞2 서문시장5지구앞<br />
                        동산의료원앞1 서문시장 큰장네거리2
                    </p>
                </li>
                <li>
                    <h5>주변 버스</h5>
                    <p>
                        105, 156, 242, 309, 405, <br />
                        415, 623, 724, 890, 910번 이용
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="sec4">
    <div class="inner">
        <div>
            <h3>야시장 운영시간</h3>
            <h5>매주 화요일 정기휴무</h5>
            <span>일, 월, 수~목 : 19:00 ~ 22:30</span>
            <span>금, 토 : 19:00 ~ 23:30</span>
            <p>동계기간 및 악천후와 명절의 경우 시간이 변경 될 수 있습니다.</p>
        </div>
    </div>
</section>
