<div class="bg-light">
    <div class="container join_wrap">
        <div class="py-5 text-center">
            <h2>회원가입</h2>
            <p class="lead">
                서문시장야시장 셀러 여러분들을 진심으로 환영합니다!
                <br />식품셀러회원과 플리마켓셀러 유형을 구분하여 가입해주시기
                바랍니다.
            </p>
        </div>

        <div class="row">
            <div class="order-md-1">
                <form>
                    <div class="btn-group seller_choice">
                        <label class="btn-lg btn-secondary me-2">
                            <input
                                type="radio"
                                name="options"
                                id="food_seller"
                                value="1"
                                autocomplete="off"
                                onclick="div_OnOff(this.value,'food_seller_info');"
                            />
                            식품셀러
                        </label>
                        <label class="btn-lg btn-secondary">
                            <input
                                type="radio"
                                name="options"
                                id="flea_seller"
                                value="2"
                                autocomplete="off"
                                onclick="div_OnOff(this.value,'flea_seller_info');"
                            />
                            플리마켓셀러
                        </label>
                    </div>
                    <hr class="mb-4" />
                    <h4>회원 공통정보</h4>
                    <div class="id_pw">
                        <label class="mb-1">아이디</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="id"
                            placeholder="5~20자의 영문과 숫자"
                        />

                        <label class="mb-1">비밀번호</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="password"
                            placeholder="5~20자의 영문과 숫자"
                        />

                        <label class="mb-1">비밀번호 확인</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="password"
                            placeholder="비밀번호를 다시 입력해주세요"
                        />
                    </div>
                    <hr class="mb-4" />
                    <div class="human_info">
                        <label class="mb-1">이름</label>
                        <input type="text" class="form-control mb-3" id="id" />

                        <label class="mb-1">성별</label><br />
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="gender"
                                id="gender"
                                value="woman"
                            />
                            <label class="form-check-label" for="inlineRadio1"
                                >여자</label
                            >
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="gender"
                                id="gender"
                                value="man"
                            />
                            <label class="form-check-label" for="inlineRadio2"
                                >남자</label
                            >
                        </div>
                        <div class="form-group mt-3">
                            <label class="mb-1">생년월일</label>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="birth_year"
                                        placeholder="년(4자)"
                                    />
                                </div>
                                <div class="form-group col-md-4">
                                    <select
                                        id="birth_month"
                                        class="form-control"
                                    >
                                        <option selected>월</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="birth_day"
                                        placeholder="일"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4" />
                    <div class="call_info">
                        <label class="mb-1">전화번호</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="phone"
                            placeholder="숫자만 기입해주세요"
                        />

                        <label class="mb-1">이메일</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="email"
                            placeholder="example@naver.com"
                        />
                    </div>

                    <div id="food_seller_info" class="food_seller_info">
                        <hr class="mb-4" />
                        <h4>식품셀러 추가정보</h4>
                        <label class="mb-1">상호명</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="store_name"
                        />

                        <label class="mb-1">주메뉴</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="food_name"
                        />

                        <label class="mb-1">보조메뉴</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="sbfood_name"
                        />

                        <label class="mb-1">식품분류코드</label>
                        <select id="birth_month" class="form-control">
                            <option selected>선택해주세요</option>
                            <option>100-스테이크</option>
                            <option>101-소고기류</option>
                            <option>102-돼지고기류</option>
                            <option>103-내장류</option>
                            <option>104-닭,칠면조류</option>
                            <option>105-양고기류</option>
                            <option>106-해산물류</option>
                            <option>107-육류튀김류</option>
                            <option>108-해산물튀김류</option>
                            <option>109-꼬지류</option>
                            <option>110-밥류</option>
                            <option>111-면류</option>
                            <option>112-분식류</option>
                            <option>113-디저트류</option>
                            <option>114-전류</option>
                            <option>115-어묵류</option>
                            <option>116-무침류</option>
                            <option>117-야끼류</option>
                            <option>118-아이스크림/빙수류</option>
                            <option>119-음료</option>
                        </select>
                    </div>

                    <div id="flea_seller_info" class="flea_seller_info">
                        <hr class="mb-4" />
                        <h4>플리마켓셀러 추가정보</h4>
                        <label class="mb-1">매대명</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="flea_name"
                        />

                        <label class="mb-1">판매제품 종류</label>
                        <input
                            type="text"
                            class="form-control mb-3"
                            id="product"
                        />
                    </div>
                    <button
                        class="w-100 btn btn-lg btn_main mt-5 mb-5"
                        type="submit"
                    >
                        회원가입
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function div_OnOff(v) {
            // 라디오 버튼 value 값 조건 비교
            if (v == "1") {
                document.getElementById("food_seller_info").style.display =
                    "block";
                document.getElementById("flea_seller_info").style.display =
                    "none";
            } else {
                document.getElementById("food_seller_info").style.display =
                    "none";
                document.getElementById("flea_seller_info").style.display =
                    "block";
            }
        }
    </script>
</div>
