<div class="nav_bg bg_img3">
    <h2>참여마당</h2>
</div>
<nav class="sub_nav">
    <ul>
        <li><a href="#" class="sub_active">공지사항</a></li>
        <li><a href="#">행사안내</a></li>
        <li><a href="#">현장스케치</a></li>
        <li><a href="#">언론보도</a></li>
        <li><a href="#">문의 및 제안</a></li>
        <li><a href="#">입점신청</a></li>
    </ul>
</nav>
<section class="notice">
    <div class="m100"></div>
    <div class="view_title">
        <div>
            <h5>서문·칠성야시장 매대운영자 모집공고</h5>
        </div>
        <div>
            <span>마스터</span>
            <span>22-03-24</span>
        </div>
    </div>
    <article class="view_body">
        <서문·칠성야시장 매대운영자 모집공고 >
        <br />전국을 대표하는 야간관광지 「대구 서문·칠성 야시장」에서 뛰어난
        열정을 펼칠 수 있는 창의적이고 역량이 뛰어난 매대 운영자를 모집하오니
        많은 참여를 바랍니다. <br /><br />❍ 1. 모집분야
        <br />
        - 음식매대
        <br />
        야시장 영업에 적합한 특색 있는 퓨전·창작요리, 글로벌 음식, 지역을
        대표하는 인지도 있는 향토 먹거리
        <br />※ 매주 화요일은 정기휴무이며 기후, 재해, 야시장 운영 정책에 따라
        영업시간 등이 변경될 수 있음
        <br />
        - 프리마켓
        <br />
        운영업체 핸드메이드, 공예품, 아트상품, 생활잡화, 재능판매 등 20~30여개
        프리마켓 셀러를 관리하는 업체
        <br />※ 금~일, 공휴일 운영하며 영업시간은 야시장 영업시간과 동일
        <br />
        - 대학매대
        <br />
        대구·경북권 식품관련학과 대학생들의 야시장에서 현장경험을 쌓기 위한
        재학생 및 1년 이내 졸업생(학교 추천서)
        <br />
        ※ 토~일, 공휴일 운영하며 영업시간은 야시장 영업시간과 동일
        <br /><br />
        ❍ 2. 모집인원 <br />
        - 음식매대 40명(서문야시장 20명, 칠성야시장 20명) <br />
        - 프리마켓 운영업체 2개 업체(서문야시장 1개, 칠성야시장 1개)
        <br />
        - 대학매대 4명(서문야시장 2명, 칠성야시장 2명) <br /><br />
        3 응시자격<br />
        -거주지 제한 없음
        <br />- 만 18세 이상 ~ 만 60세 이하(1962. 1. 1. ~ 2003. 12. 31. 출생자)
        <br />- 신청자(배우자)가 직접 운영 <br />- 신청자 본인 사업자등록증
        발급에 결격 사유가 없어야 함
        <br />
        - 1가구(직계가족) 1매대 이상 신청할 수 없음 <br />
        ※ 서문, 칠성야시장 퇴점자 중 2021년 3월 이전에 퇴점자는 지원 가능
        <br /><br />
        4. 지원자 혜택 <br />- 3개월간 관리비 지원(개별 전기요금 제외) <br />-
        메뉴 및 밀키트 개발 컨설팅 <br />- 매대 상호, 홍보판 등
        VMD지원(대학매대) <br /><br />5. 신청방법 <br />- 지원을 희망하는
        야시장(서문, 칠성 야시장 중 택 1) 지원서 작성 <br />- 지원서 제출방법 :
        홈페이지, 이메일, 방문 접수 / 문의처 : 053) 621-1985~6 <br />- 홈페이지
        : 서문야시장( http://www.nightseomun.com ), 칠성야시장(
        http://7starnm.com )
    </article>
    <div class="view_file">
        <div>첨부파일</div>
        <ul>
            <li>
                <a href=""> 서문칠성야시장 매대운영자 모집 공고.hwp </a>
            </li>
            <li>
                <a href=""> 음식 매대운영자 모집 신청서.hwp </a>
            </li>
            <li>
                <a href=""> 야시장 프리마켓 신청서.hwp </a>
            </li>
            <li>
                <a href=""> 야시장 대학매대 신청서.hwp </a>
            </li>
        </ul>
    </div>
    <div class="view_btn">
        <a href="">수정하기</a>
        <a href="">삭제하기</a>
        <a href="notice">목록으로</a>
    </div>
    <div class="m100"></div>
</section>
