<div class="nav_bg bg_img4">
    <h2>먹거리살거리</h2>
</div>
<nav class="sub_nav">
    <ul>
        <li><a href="#" class="sub_active">퓨전&글로벌</a></li>
        <li><a href="#">한국전통식</a></li>
        <li><a href="#">스트리트푸드</a></li>
        <li><a href="#">살거리</a></li>
    </ul>
</nav>
<section class="thumnail">
    <h3>퓨전&글로벌</h3>
    <div class="thum_srch">
        <div class="dis_none">매대명 또는 식품명, 상품명을 입력하세요.</div>
        <input type="text" placeholder="검색어를 입력하세요." />
        <button></button>
    </div>
</section>
<section class="food_list">
    <ul class="inner">
        <li>
            <div class="food_img">
                <div class="food07"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">직화불고기</p>
                    <p class="food_sub">한식의 자존심 불고기요리 전문점</p>
                </span>
                <span>
                    <p class="food_tag ko">퓨전한식</p>
                    <p class="food_tag go">바로주문</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>

        <li>
            <div class="food_img">
                <div class="food06"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">뉴욕치즈스테이크</p>
                    <p class="food_sub">직화로 구운 스테이크 맛집</p>
                </span>
                <span>
                    <p class="food_tag west">양식</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>

        <li>
            <div class="food_img">
                <div class="food03"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">카베츠야끼</p>
                    <p class="food_sub">오사카명물인 캬베츠야끼</p>
                </span>
                <span>
                    <p class="food_tag jp">일식</p>
                    <p class="food_tag go">바로주문</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
        <li>
            <div class="food_img">
                <div class="food13"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">프렌치마카롱</p>
                    <p class="food_sub">야시장에서도 디저트는 필수.</p>
                </span>
                <span>
                    <p class="food_tag dessert">디저트</p>
                    <p class="food_tag go">바로주문</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
        <li>
            <div class="food_img">
                <div class="food04"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">반쎄오</p>
                    <p class="food_sub">야시장에서 즐기는 베트남</p>
                </span>
                <span>
                    <p class="food_tag viet">베트남</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
        <li>
            <div class="food_img">
                <div class="food05"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">또띠자</p>
                    <p class="food_sub">
                        고추장 토마토 연유 피자등 특이한 피자를 즐길 수 있는 곳
                    </p>
                </span>
                <span>
                    <p class="food_tag west">양식</p>
                    <p class="food_tag go">바로주문</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
        <li>
            <div class="food_img">
                <div class="food01"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">6초밥</p>
                    <p class="food_sub">야시장 원조 소고기불초밥</p>
                </span>
                <span>
                    <p class="food_tag ko">퓨전한식</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>

        <li>
            <div class="food_img">
                <div class="food08"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">타코야키</p>
                    <p class="food_sub">
                        타코야키 트럭을 오매불망 기다리던 시절은 갔다
                    </p>
                </span>
                <span>
                    <p class="food_tag jp">일식</p>
                    <p class="food_tag go">바로주문</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
        <li>
            <div class="food_img">
                <div class="food09"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">야채뚱땡 삼겹말이</p>
                    <p class="food_sub">즉석철판에 구운 삼겹살야채말이!</p>
                </span>
                <span>
                    <p class="food_tag ko">퓨전한식</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
        <li>
            <div class="food_img">
                <div class="food10"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">Mr. 남천꼬치</p>
                    <p class="food_sub">왕꼬치 !맛 최고 !!!</p>
                </span>
                <span>
                    <p class="food_tag ko">퓨전한식</p>
                    <p class="food_tag go">바로주문</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
        <li>
            <div class="food_img">
                <div class="food11"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">스시머스마</p>
                    <p class="food_sub">신선하고 가성비 좋은 초밥</p>
                </span>
                <span>
                    <p class="food_tag jp">일식</p>
                    <p class="food_tag go">바로주문</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
        <li>
            <div class="food_img">
                <div class="food02"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">촌놈탕슉</p>
                    <p class="food_sub">쫀득 쫀득 달콤 새콤 탕수육 입니다^^</p>
                </span>
                <span>
                    <p class="food_tag ko">퓨전한식</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
        <li>
            <div class="food_img">
                <div class="food12"></div>
            </div>
            <div class="food_txt">
                <span>
                    <p class="food_title">스테이크새우꼬치</p>
                    <p class="food_sub">한식과 양식의 미묘한 조화...</p>
                </span>
                <span>
                    <p class="food_tag west">양식</p>
                    <p class="food_go">상세보기</p>
                </span>
            </div>
        </li>
    </ul>
</section>
