.login_all {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login_img {
    flex: 1;
    width: 100%;
    height: 90vh;
    background: url("../img/info_img5.jpg") no-repeat center / cover;
}

.nav-link {
    padding: 0.8rem 4.9rem;
    color: #606569;
}

.nav-tabs .nav-link.active {
    color: #2732c8;
    font-size: 1.2rem;
    font-weight: 600;
}

.login_bg {
    flex: 1;
    width: 100%;
    height: 90vh;
    padding: 0 10px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_tab_wrap {
    width: 100%;
    background-color: #fff;
    max-width: 480px;
    height: 550px;
    margin: 0 10px;
    box-shadow: 1px 5px 10px 2px rgb(0 0 0 / 5%);
    border-radius: 0.25rem;
}

.login_wrap {
    padding: 80px 25px;
}

.input_top {
    border-bottom: 1px transparent;
    border-radius: 0.25rem 0.25rem 0 0;
}

.input_btm {
    border-radius: 0 0 0.25rem 0.25rem;
}

.btn_main {
    border-color: transparent;
    background: #111987;
    color: #fff;
}

.btn_main:hover {
    background: #2732c8;
    color: #fff;
}

.login_span > a {
    font-weight: 600;
    color: #212529;
}

.login_span > a:hover {
    color: #2732c8;
}

.login_span:not(:last-child) > a::after {
    content: " |";
}

/* 회원가입 */
.join_wrap {
    max-width: 480px;
}
.join_wrap h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0;
    color: #111987;
}
.join_wrap p {
    font-size: 1.125rem;
    font-weight: 400;
}

.join_wrap h4 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 10px 0;
}

.seller_choice {
    display: block;
    text-align: center;
}
.form-row {
    display: flex;
    justify-content: space-between;
}
.form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

.food_seller_info,
.flea_seller_info {
    display: none;
}

@media only screen and (max-width: 1190px) {
}

@media only screen and (max-width: 1000px) {
    .login_img {
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    .nav-link {
        padding: 0.8rem 3rem;
        color: #606569;
    }

    .login_img {
        height: 100vh;
    }

    .login_bg {
        height: 100vh;
    }
    .form-row {
        display: inline;
    }
}
